/* @font-face {
  font-family: "ComfortaaFont";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/comfortaa-v29-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-regular.woff2") format("woff2"),
       url("../fonts/comfortaa-v29-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-regular.woff") format("woff")
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Courier, monospace, Times, serif;
  /* font-family: ComfortaaFont, TheNext, Courier, monospace, Times, serif; */
}

/* .content {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;


} */

body {
  background-image: url("./img/rotala_background_desktop1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-color: black; */
  height: 100vh;
  display: flex;
  flex-direction: column;
}